.country{
    border: 2px solid skyblue;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}
.visited{
    background-color: #da1b74;
    color: #000;
}

.non-visited{
    background-color: whitesmoke;
    color: #000;
}